project_id = "wkaljxtnfeclronupskp"

[api]
enabled = true
port = 54321
schemas = ["public", "graphql_public"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[db]
port = 54322
major_version = 15

[studio]
enabled = true
port = 54323
api_url = "http://127.0.0.1"

[functions.ai-suggest-bullets]
verify_jwt = false

[functions.parse-resume]
verify_jwt = false

[functions.ats-score]
verify_jwt = false

[functions.analyze-job]
verify_jwt = false